.body {
    font-family: 'Noto Serif', sans-serif;
}

.navbar {
    font-family: 'Noto Serif', sans-serif;
    margin-bottom: 30px; 
  }


.container {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 50px
  }
  
  .carousel-item {
    height: 500px;
  }
  
  .carousel-caption {
    position: absolute;
    top: 57%;
    transform: translateY(-50%);
    color: #fff;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.4);
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 10px; 
    width: 50%; 
    left: 50%;
    transform: translateX(-50%);
  }
  
  
  .carousel-caption h5 {
    font-family: 'Noto Serif', sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .carousel-caption p {
    font-family: 'Noto Serif', sans-serif;
    font-size: 13px;
  }
  
  .carousel-caption c {
    font-family: 'Noto Serif', sans-serif;
    font-size: 13px;
  }

  .carousel-caption v {
    font-family: 'Noto Serif', sans-serif;
    font-size: 15px;
  }


 .post-entry-1 {
    font-family: 'Noto Serif', sans-serif;
    margin-bottom: 30px;
  }
  
  .post-entry-1 img {
    margin-bottom: 30px;
  }
  
  .post-entry-1 h2 {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    font-weight: 500;
  }
  
  .post-entry-1 h2 a {
    color: var(--color-black);
  }
  
  .post-entry-1.lg h2 {
    font-size: 40px;
    line-height: 1;
  }
  
  .post-meta {
    font-size: 11px;
    letter-spacing: 0.07rem;
    text-transform: uppercase;
    font-weight: 600;
    font-family: var(--font-secondary);
    color: rgba(var(--color-black-rgb), 0.4);
    margin-bottom: 10px;
  }

  #footer {
    font-family: 'Noto Serif', sans-serif;
    background-color: #ebe8e8; 
    color: #000000; 
    padding: 40px 0; 
  }
  
  .footer-top {
    border-bottom: 1px solid #555; 
  }
  
  .footer-contact h3 {
    color: rgb(0, 0, 0) 
  }
  
  .footer-contact p {
    color: #000000; 
  }
  
  .footer-contact a {
    color: #000000; 
  }
  
  .footer-heading {
    color: #000000; 
  }
  
  .footer-links a {
    color: #000000; 
  }
  
  .footer-links a:hover {
    color: #000000; 
  }
  
  .footer-links i {
    color: #3498db; 
  }
  
  .footer-links i:hover {
    color: #fff; 
  }
  
  .footer-links ul {
    padding: 0; 
  }
  
  .footer-links li {
    list-style: none; 
  }
  
  .footer-links li a {
    padding: 5px 0; 
    display: block; 
  }
  
  .footer-bottom {
    text-align: center; 
    padding-top: 5px; 
    margin-bottom: 5px;
  }
  
  .footer-bottom a {
    color: #3498db; 
  }
  
  .footer-bottom a:hover {
    color: #000000; 
  }
  